@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import "./containers/Login.scss";
@import "./containers/Event.scss";
@import "./containers/NewEvent.scss";

body {
  margin: 0;
  overflow-x: hidden;
}

h3 {
  margin: 0px;
  padding: 5px;
}

h3:hover {
  font-size: 1.5em;
}

.container {
  overflow: hidden;
  position: relative;
}

#logo {
  width: 150px;
  margin-top: 25px;
  margin-left: 25px;
  position: absolute;
  top: 0;
  z-index: 2;
}

h1 span {
  width: 7px;
  height: 23px;
  position: absolute;
}

h1 span:nth-child(1){
  background-color: #27AE60;
  border-radius: 25%;
  left: 16%;
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 1px 1px  rgba(0, 0, 0, .25);
}

h1 span:nth-child(2){
  background-color: #27AE60;
  left: 16%;
  border-radius: 25%;
  transform: rotate(-45deg);
}

h1 span:nth-child(3){
  background-color: #56CCF2;
  box-shadow: 1px 1px  rgba(0, 0, 0, .25);
  z-index: 1;
  border-radius: 35%;
  left: 17.5%;
  transform: rotate(45deg);
}

h1 span:nth-child(4){
  background-color: #56CCF2;
  border-radius: 35%;
  left: 17.5%;
  transform: rotate(-45deg);
}

.navBar {
  width: 24vw;
  height: 100vh;
  background-color: #fff;
  float: right;
  text-align: center;
  overflow: auto;
}

.mainMap {
  width: 75vw !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-right: solid 1vw #471ea0;
  box-shadow: 2px 4px 4px 4px #ccc;

}

@media screen and (max-width: 400px) {
  .navBar {
    display: block;
    width: 100vw;
  }

  #logo {
    width: 75px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .mainMap {
    display: block !important;
    width: 100vw !important;
    height: 50vh !important;
  }
}
